

<form (ngSubmit)="Update()">
        <legend>Edit User</legend>

        <div class="form-group">
                <label for="id">id</label>
                <input type="text" class="form-control" id="id" name="id" placeholder="id" [(ngModel)]="user.id">
            </div>
    
        <div class="form-group">
            <label for="name">name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="name" [(ngModel)]="user.name">
        </div>
    
        <div class="form-group">
            <label for="email">email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="email" [(ngModel)]="user.email">
        </div>
    
        <div class="form-group">
            <label for="phone">phone</label>
            <input type="text" class="form-control" id="phone" name="phone" placeholder="phone" [(ngModel)]="user.phone">
        </div>
    
        <div class="form-group">
                <label for="password">password</label>
                <input type="text" class="form-control" id="password" name="password" placeholder="password" [(ngModel)]="user.password">
            </div>
        
    
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
    
    