<form (ngSubmit)="Insert()">
    <legend>Add Book</legend>

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="name" [(ngModel)]="books.name">
    </div>

    <div class="form-group">
        <label for="author">author</label>
        <input type="text" class="form-control" id="author" name="author" placeholder="author" [(ngModel)]="books.author">
    </div>

    <div class="form-group">
        <label for="subject">subject</label>
        <input type="text" class="form-control" id="subject" name="subject" placeholder="subject" [(ngModel)]="books.subject">
    </div>

    <div class="form-group">
        <label for="price">price</label>
        <input type="text" class="form-control" id="price" name="price" placeholder="price" [(ngModel)]="books.price">
    </div>

    <div class="form-group">
        <label for="isbn">isbn</label>
        <input type="text" class="form-control" id="isbn" name="isbn" placeholder="isbn" [(ngModel)]="books.isbn">
    </div>

    

    <button type="submit" class="btn btn-primary">Insert</button>
</form>


